// ********** UTILS **********
@import '../../../utils/styles/variables';
@import '../../../utils/styles/mixins';
@import '../../../utils/styles/keyframes';

.header {
  @media (max-width: $breakpointMobile) {
    flex-flow: column;
    gap: 2em;
  }
  background: $primaryBackgroundColor;
  border-bottom: $bottomComponentSeparator;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
}

// ********** TITLE **********

.header__leftSideWrapper__title {
  color: $primaryTextColor;
  font: $titleStyle;
  font-size: 1.8em;
}

// ********** NAVIGATION **********

.header__webAppNavigation {
  @media (max-width: $breakpointLaptop) {
    gap: 1em;
  }
  @media (max-width: $breakpointTablet) {
    gap: .5em;
  }
  display: flex;
  gap: 2em;
}

.header__webAppNavigation__links {
  @media (max-width: $breakpointTablet) {
    font-size: 14px;
  }
  white-space: nowrap;
  color: $primaryTextColor;
  font: $paragraphStyle;
  text-decoration: none;
  &:hover {
    color: $primaryTextColor;
    text-decoration: 2px $secondaryTextColor underline;
  }
}

.header__rightSideWrapper {
  @media (max-width: $breakpointTablet) {
    gap: 0.2em;
  }
  @media (max-width: $breakpointMobile) {
    gap: 1em;
  }
  display: flex;
  align-items: center;
  gap: 1em;
}

.header__rightSideWrapper__icon {
  font-size: $iconsSize;
  color: $iconsColor;
}

.header__rightSideWrapper__buttonWrapper {
  position: relative;
  z-index: 1;
}

.header__rightSideWrapper__buttonWrapper__button {
  font-family: $primaryFont;
  @include buttonStyle;
}
