// ********** UTILS **********
@import '../../../../utils/styles/variables';
@import '../../../../utils/styles/mixins';
@import '../../../../utils/styles/keyframes';

.landingContainer {
  min-height: 100vh;
  background: $primaryBackgroundColor;
  display: flex;
  flex-flow: column;
    justify-content: center;
  position: relative;
}

.landing {
  @media (max-width: $breakpointTablet) {
    padding: 4em 5em;
  }
  @media (max-width: $breakpointMobile) {
    flex-flow: column;
    gap: 2em;
    justify-content: unset;
    padding: 2em
  }
  display: flex;
  justify-content: space-between;
  padding: 4em 10em;
}

.landing__contactWrapper {
  position: absolute;
  top: 4%;
  left: 38%;
}

.landing__contactWrapper__positioning {
}

.landing__contentLeft {
  @media (max-width: $breakpointMobile) {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 1em;
}

.landing__contentRight {
  @media (max-width: $breakpointMobile) {
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

// ********** LEFT WRAPPER **********

.landing__contentLeft__subtitle {
  font: $subtitleStyle;
  font-size: 0.9em;
  color: $quaternaryTextColor;
}

.landing__contentLeft__title {
  font: $titleStyle;
  font-size: 2.5rem;
  color: $primaryTextColor;
}

.landing__contentLeft__job {
  @media (max-width: $breakpointMobile) {
    width: 100%;
  }
  font: $titleStyle;
  color: $secondaryTextColor;
  width: 300px;
}

.landing__contentLeft__overview {
  text-transform: uppercase;
  font: $paragraphStyle;
  color: $primaryTextColor;
  font-size: 0.85em;
  width: 200px;
}

.navLink {
  text-decoration: unset;
}

.landing__contentLeft__buttonWrapper {
  position: relative;
  z-index: 1;
}

.landing__contentLeft__buttonWrapper__button {
  @include buttonStyle;
}

// ********** RIGHT WRAPPER **********

.landing__contentRight__pictureWrapper {
  @media (max-width: $breakpointMobile) {
    width: 300px;
    height: 300px;
  }
  width: 400px;
  height: 450px;
}

.landing__contentRight__pictureWrapper__picture {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
  box-shadow: $boxShadow;
  filter: $dropShadow;
}

// ********** STACK BANNER **********
.stackBanner {
  @media (max-width: $breakpointMobile) {
    position: unset;
    display: flex;
    justify-content: center;
  }
  background: $primaryBackgroundColor;
  position: relative;
  z-index: 999;
  padding-bottom: 2em;
}

.stackBanner__content {
  @media (max-width: $breakpointMobile) {
    width: fit-content;
    padding: unset;
    overflow: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 0;
    z-index: 999;
    &::after {
      content: '';
      background-color: $secondaryTextColor;
      border-radius: 4px;
      display: block;
      height: 253px;
      width: 113px;
      position: absolute;
      top: 3px;
      left: 0;
      transform: rotate(-3.1deg) translate(10px, 10px);
      transition: transform 200ms ease-out;
      z-index: -1;
    }
    &:hover::after {
      transform: rotate(-3.1deg) translate(1px, 1px);
    }

    &:active::after {
      outline: 0;
    }
  }
  width: 100%;
  padding: 2.2em;
  overflow-x: hidden;
  cursor: default;
}

.stackBanner__content__wrapper {
  @media (max-width: $breakpointMobile) {
    flex-flow: column;
    transform: rotate(-3.1deg) translateX(1%);
    justify-content: unset;
    align-items: unset;
    text-align: center;
    box-shadow: $boxShadowMobile;
    border-radius: 4px;
  }
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-transform: uppercase;
  padding: 0.7em;
  background: $secondaryBackgroundColor;
  transform: rotate(-2.1deg) translateX(1%);
}

.stackBanner__content__wrapper__list {
  @media (max-width: $breakpointTablet) {
    font-size: 0.7em;
  }
  filter: $dropShadow;
  font-size: 1em;
  list-style: none;
  font-weight: 700;
}

.stackBanner__content__wrapper__list fa-icon {
  @media (max-width: $breakpointTablet) {
    font-size: 1em;
  }
  @media (max-width: $breakpointMobile) {
    display: unset;
  }
  display: flex;
  align-self: center;
  color: $secondaryTextColor;
  font-size: 1.5em;
}
