@import './_variables.scss';

@mixin sectionStyle {
  @media (max-width: $breakpointLaptop) {
    gap: 2em;
    padding: 4em 2em;
  }
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 5em;
  background: $primaryBackgroundColor;
  min-height: 100vh;
  padding: 4em 10em;
}

@mixin buttonStyle {
  @media (max-width: $breakpointTablet) {
    font-size: 14px;
    padding: 5px;
  }
  font-size: 16px;
  font-weight: 400;
  color: $tertiaryTextColor;
  align-items: center;
  background-color: $secondaryBackgroundColor;
  border-radius: 4px;
  border: 2px solid $tertiaryTextColor;
  display: flex;
  justify-content: center;
  line-height: 24px;
  width: 150px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    outline: 0;
  }
  &:active {
    background: $secondaryTextColor;
  }
  &::after {
    @media (max-width: $breakpointTablet) {
      height: 30px;
    }
    content: '';
    background-color: $secondaryTextColor;
    border-radius: 4px;
    display: block;
    height: 40px;
    width: 150px;
    position: absolute;
    top: 7px;
    left: 0;
    transform: translate(8px, 8px);
    transition: transform 200ms ease-out;
    z-index: -1;
  }

  &:hover::after {
    transform: translate(0, 0);
  }

  &:active::after {
    outline: 0;
  }
}

@mixin listSeparator {
  &:after {
    position: absolute;
    bottom: -1.5em;
    left: 50%;
    transform: translateX(-50%);
    content: '';
    width: 75%;
    height: 1px;
    background: $quaternaryTextColor;
  }
}

@mixin skillsSeparator {
  content: '';
  border-radius: 8px;
  width: 8px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}